@import "compass_twitter_bootstrap";

.vine_card{
    width: 300px;
    height: 300px;
}
h4{
    overflow: hidden;
    height: 20px;
}
.span4{

    margin-left: 5px;
}
.content_container iframe{
	height: 300px;
}